* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}


.sidebarWrapper {
  padding: 20px;
}

.list {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    border: 1px solid #ccc;
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: auto;
    display: inline-block;
  }

.image{
    width: 125px;
    /* height: 168px; */
    border-radius: 5px;
}

.cardsngraphs{
    display: flex;
    width: 100%;
    
}


.allcards{
    
    /* background: rgb(179, 132, 132); */
    width: 600px;
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    height: calc(100vh - 40px);
    overflow-y: scroll;
    margin: 5px;
}

::-webkit-scrollbar {
    width: 5px;
}
::-webkit-scrollbar-track {
background-color: #f1f1f1;
}
::-webkit-scrollbar-thumb {
background-color: rgb(179, 179, 179);
}

.card{
    display: flex;
    flex-direction: column;
    width: 470px;
    height: 168px;
    display: flex;
    flex-direction: row;
    background: pink;
    border-radius: 5px;
    margin: 15px 15px;
    position: sticky;
}


.content{
    display: flex;
    flex-direction: column;
    margin: 10px;
    font-family: 'Inter';
    /* font-style: normal; */
    font-family: 'Poppins', sans-serif;
}

.card--badge {
    position: absolute;
    top: 6px;
    left: 6px;
    background-color: #ccc;
    padding: 5px 7px;
    border-radius: 2px;
    font-weight: bold;
}
.editordelete{
    position: absolute;
    /* top: 6px; */
    right: 0px;
    bottom: 0px;
    /* background-color: white; */
    padding: 5px 7px;
    border-radius: 2px;
    font-weight: bold;
}

.one{
    font-weight: 700;
    /* font-size: 10.24px;
    line-height: 12px;
    letter-spacing: 0.17em;
    color: #2B283A; */
    line-height: 20px;
    
}

.two{
    /* font-weight: 700;
    font-size: 15px;
    line-height: 30px;
    color: #2B283A; */
}


.three{
    
    /* font-weight: 700;
    font-size: 10.24px;
    line-height: 12px;

    color: #2B283A; */
    
}

.four{
    /* font-weight: 400;
    font-size: 10.24px;
    line-height: 150%;
    color: #2B283A; */
}

.flex{
    /* background: gray;
    padding: 4px;
    justify-content: center;
    flex-wrap: wrap; */
}

box{
    width: 10px;
    
}